{%load static %}
<head>
    <style>
         .back-btn {
        display: flex;
        padding: 5px 8px;
        background: #1e90ff;
        color: white;
        font-weight: 600;
        border-radius: 6px;
        text-decoration: none;
        transition: 0.3s;
        float: left;
        margin-bottom: 20px;
        margin-top: 0px;
        }
       .back-btn:hover {
        background: #91e780;
       }
    </style>
</head>
<div class="container mt-5">
<br><br><br>
    <body>
        <h3>WARD 10</h3>
        <p>వార్డు అనేది గ్రామంలోని ఒక పరిపాలనా విభాగం. ఈ వార్డులో నివసించే ప్రజలకు సంబంధించిన వివరాలు, ఇళ్ల సంఖ్య, కుటుంబాల సమాచారం, ప్రభుత్వ సంక్షేమ పథకాల లబ్ధిదారులు, స్థానిక సమస్యలు, అభివృద్ధి పనులు, <br>గ్రామ సచివాలయ కార్యకలాపాలు మరియు ప్రజా ఫిర్యాదులు నిర్వహించబడతాయి. ఈ వార్డుకు సంబంధించిన అన్ని సేవలు మరియు కార్యక్రమాలు గ్రామ పంచాయతీ మరియు గ్రామ సచివాలయం ద్వారా పర్యవేక్షించబడతాయి.</p>
        <h4>UPDATE SOON... </h4>
    </body>
    <div class="row justify-content-center">
       <a href="{% url 'elections' %}" class="back-btn">&larr; Back to WARDS</a>
    </div>
</div>